
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="title-container">
<ul class="options">   
      <a routerLink="/add-game">Add game</a>
      <a routerLink="/all-games">All games</a>

      <!--<a href="#">Search game</a>-->    
</ul>
<div id="title">
        <h1 id="title">Web</h1>
        <h1 id="subtitle"> games shop</h1>
    </div>
</div>

<div class="content-container">
    <router-outlet></router-outlet>
</div>

</body>
</html>
